<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>De La Casa Recetas</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layedout/plantilla :: header" />
        
        <h2>Datos de la receta</h2>
        <hr>
        <a th:href="@{/}">Regresar</a>
         <hr>
        
         <form th:action="@{/receta/guardar}"
               method="post"
               th:object="${receta}">
             <input type="hidden" name="idReceta" th:field="*{idReceta}"/>
             <label>Nombre</label>
             <input type="text" name="nombre" required="true" th:field="*{nombre}"/>
             <br>
             
             <label>descripcion</label>
             <input type="text" name="descripcion" required="true" th:field="*{descripcion}"/>
             <br>
             
             <label>ingredientes</label>
             <input type="text" name="ingredientes" th:field="*{ingredientes}"/>
             <br>
             
             <label>preparacion</label>
             <input type="text" name="preparacion" th:field="*{preparacion}"/>
             <br>
             <hr>
                 <input type="submit" value="guardar" name="guardar" />
         </form>
        

    </body>
            <footer th:replace="layedout/plantilla :: footer" />

</html>
