<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>De La Casa Recetas</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header th:replace="layedout/plantilla :: header" />
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/registro">Registrarse</a></li>
          <li><a href="/sobre_web">Acerca de</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <form method="POST">
            <label>Correo</label>
            <input type="text" name="Correo" value="" />
            <label>Contraseña</label>
            <input type="password" name="Contraseña" value="" />
        </form>
    </main>
    <footer th:replace="layedout/plantilla :: footer" />
  </body>
</html>
