<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>De La Casa Recetas</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layedout/plantilla :: header" />

        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/recetas_presentacion">Recetas</a></li>
                <li><a href="/registro">Registrarse</a></li>
                <li><a href="/iniciar_sesion">Iniciar sesion</a></li>
            </ul>
        </nav>
        <main>
            <h2>Bienvenidos a De La Casa</h2>
            <p>Comparte tus recetas favoritas, descubre nuevas ideas y conecta con otros amantes de la cocina.</p>
            <br>
            <h3>Acerca de De La Casa</h3>
            <p>De La Casa es una comunidad en línea dedicada a compartir y descubrir recetas de cocina. Nuestro objetivo es reunir a personas de todo el mundo que comparten una pasión por la cocina y proporcionarles un espacio para conectarse, intercambiar ideas y descubrir nuevas recetas.</p>
            <br>
            <h3>Cómo Funciona</h3>
            <p>Para utilizar De La Casa, simplemente regístrate para crear una cuenta gratuita. Una vez que hayas creado tu cuenta, podrás compartir tus recetas favoritas con la comunidad, guardar las recetas que te gusten y explorar nuevas ideas.</p>
            <br>
        </main>
        <footer style="background-color: yellow; text-align: center"> Contactanos al 8888-8888 o al correo electronico delacasa@ayuda.com</footer>
    </body>
</html>
