<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header">
            <h1 style="background-color: black; color: white; text-align: center">TechShop</h1>
        </header>
        <footer th:fragment="footer">
            <br>
            <hr>
            <p style="background-color: yellow; text-align: center">&COPY; derechas reservados 2023</P>
        </footer>
    </body>
</html>
